In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [2]:
t=pd.read_csv('D:\Data_h\Table NRU.csv')

t

,Concentrations,Control,1 μM,10 μM,50 μM,100 μM,250 μM,500 μM,1000 μM
0,A549 Cells (A),100,94.9051,90.3097,64.7353,56.7433,46.5534,40.7592,15.984
1,A549 Cells (B),100,99.5502,98.0510,94.6027,91.3043,82.9085,68.0660,56.072

In [ ]:
fig, ax = plt.subplots(figsize=(6, 6))
sns.heatmap(t, cmap="YlGnBu", annot=True,  cbar=True,annot_kws={"size": 10, 'family':'Times New Roman'})

cbar = ax.collections[0].colorbar
plt.setp(cbar.ax.get_yticklabels(), fontsize=10, fontfamily='Times New Roman')
seaborn.heatmap(t, *, vmin=None, vmax=None, cmap='plasma', center=None, robust=False, annot=None, fmt='.2g', annot_kws=None, linewidths=0, linecolor='white', cbar=True, cbar_kws=None, cbar_ax=None, square=False, xticklabels='auto', yticklabels='auto', mask=None, ax=None, **kwargs)